<%- include('layout/base') -%>
<%- include('layout/nav') -%>
  <header class="main-header">
      <!-- Another variation with a button -->
      <form action="/submit" method="GET">
        <div class="search-container">
          <input type="text" name="username" placeholder="Type your github username...">
          <button class="btn btn-secondary search-btn" type="submit">
            <i class="fa fa-search"></i>
          </button><br>
          <% if(typeof error !== 'undefined'){ %>
          <span><%= error %></span>
          <% } %>
        </div>
      </form>
  </header>
<%- include('layout/footer') -%>
